.logo{
    margin: 2rem; 
    margin-top: 0;
}

.Tilt{
    border-radius: .25rem;
    box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2);
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}

img{
    padding-top: 10px;
}